{% include "home/home.html" %}
{% load static %}

    {% block body_block%}

    <link rel="stylesheet" href="{% static "books/css/style.css" %}">
        <p style="font-size: 30px ; text-align:center;font-family: 'Comic Sans MS',serif ">Brand : {{brand_name}}</p>
        {% if electronics %}
            {% for item in electronics %}
                {{ forloop.counter }} <a href={% url 'home:electronics:electronics_details' item.ID %}> {{ item.TITLE}}</a>
                <br>Price : {{ item.PRICE }}
                <br>Category : {{ item.CATEGORY_NAME }}
                <br><br>
            {% endfor %}
        {% endif %}

    {% endblock %}