{% extends "home/home.html" %}
{% load static %}

    {% block body_block%}
    <link rel="stylesheet" href="{% static "books/css/style.css" %}">
        <div class="featured-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>Order History</h1>
                </div>
            </div>
        </div>
        {% if allOrderItems %}
            {% for items in allOrderItems %}
                <div class="featured-product product">
                    <div class="container-fluid">
                         <div class="section-header">
                            <p><a href={% url 'home:CWO:specific_order' items.order_id %}> Order No: {{ items.order_id }}</a></p>
                         </div>
                     </div>
                </div>
                <br>
            <table style="width: 100%">
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            {% for id, title, price, quantity in items.lst %}
                <tr>
                    <td>{{ title }}</td>
                    <td>{{ price }}</td>
                    <td>{{ quantity }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{ items.total }}</td>
                </tr>
            </table>
            <br>
            <p>
            Status : {{ items.status }}
            </p>
            {% endfor %}
        {% elif not allOrderIDs %}
            <p>Nothing is Ordered</p>
        {% endif %}
            <br>
            <br>
    {% endblock %}

    {% block best_seller  %}

    {% endblock %}