{% extends "home/home.html" %}
{% load static %}

    {% block sliding_block %}
    {% endblock %}
    {% block body_block%}

    <link rel="stylesheet" href="{% static "books/css/style.css" %}">
       <div class="featured-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>WISH LIST</h1>
                </div>
            </div>
        </div>
        {% if wishlist %}
            <div class="featured-product product">
            <div class="container-fluid">
                <div class="section-header">
            <div class="table-responsive">
            <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for id, title, price in wishlist %}
                <tr>
                    <td>{{ title }}</td>
                    <td>{{ price }}</td>
                    <td><a class="btn" href={% url 'home:CWO:delete_wishlist_item' id%}> Remove From Wishlist </a> </td>
                    <td><a class="btn" href={% url 'home:CWO:add_to_cart_from_wishlist' id%}> Add To Cart </a> </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
            </div>
                </div>
            </div>
            </div>
        {% elif not wishlist %}
            <div class="featured-product product">
                    <div class="container-fluid">
                         <div class="section-header">
                            <p>Wish List is empty</p>
                         </div>
                     </div>
            </div>
        {% endif %}
        <br>
        <br>
    {% endblock %}

    {% block best_seller  %}

    {% endblock %}