<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta http-equiv="Content-type" charset=utf-8" name="viewport" content="width=device-width, initial-scale=1"/>-->
    <title>Rokomari</title>
      {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

          <img src="{% static "books/images/base2.jpg"%}" width="100%" height="180px">
    {% block body_block %}
    {# Anything outside of this will be inherited if you use extend.#}
    {% endblock %}
</body>
</html>
