<!DOCTYPE html>
{% extends "books/base.html" %}
{% load static %}

    {% block body_block%}

        <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                <span class="login100-form-title">
                    Customer Login
                </span>

                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
                </form>

                <div class="text-center p-t-136">
                    <a class="txt2" href={% url 'books:signup' %}>
                        Create your Account
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
			</div>
		</div>
	</div>


    {% endblock %}